[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ETAS"]
	path = ETAS
	url = https://github.com/jalilian/etas
[submodule "jalcal"]
	path = jalcal
	url = https://github.com/jalilian/jalcal
