[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "jalcal"]
	path = jalcal
	url = https://github.com/jalilian/jalcal
	shallow = true
	registered = true
